@charset "UTF-8";

@font-face {font-family: "iconfont";
    src: url(font/iconfont.ttf) format('truetype');
}
.ui-icon,[class^="ui-icon-"] {
    @include icon;
}

//.ui-icon-close:before { content: $icon-close;}
//.ui-icon-search:before { content: $icon-search;}
//.ui-icon-return:before { content: $icon-return;}
//.ui-icon-close,
//.ui-icon-search{
//    color: $icon-color;
//}


.ui-icon-icon06:before { content: "\e63f"; }
.ui-icon-icon09:before { content: "\e600"; }
.ui-icon-icon27:before { content: "\e629"; }
.ui-icon-icon34:before { content: "\e601"; }
.ui-icon-icon53:before { content: "\e602"; }
.ui-icon-icon55:before { content: "\e603"; }
.ui-icon-iconhomepagedefault:before { content: "\e604"; }
.ui-icon-iconhomepageselected:before { content: "\e605"; }
.ui-icon-iconservicestationdefault:before { content: "\e606"; }
.ui-icon-iconservicestationselected:before { content: "\e607"; }
.ui-icon-iconfinddefault:before { content: "\e608"; }
.ui-icon-iconfindselected:before { content: "\e609"; }
.ui-icon-iconwodedefault:before { content: "\e60a"; }
.ui-icon-iconwodeselected:before { content: "\e60b"; }
.ui-icon-iconscandefault:before { content: "\e60c"; }
.ui-icon-iconsigndefault:before { content: "\e60d"; }
.ui-icon-iconnoticedefault:before { content: "\e60e"; }
.ui-icon-iconnewsdefault:before { content: "\e60f"; }
.ui-icon-iconcollectiondefault:before { content: "\e610"; }
.ui-icon-iconcommentdefault:before { content: "\e611"; }
.ui-icon-iconlikedefault:before { content: "\e612"; }
.ui-icon-iconclosedefault:before { content: "\e613"; }
.ui-icon-iconcollectionselected:before { content: "\e614"; }
.ui-icon-iconfollowdefault:before { content: "\e615"; }
.ui-icon-icongiftdefault:before { content: "\e616"; }
.ui-icon-iconhelpfeedbackdefault:before { content: "\e617"; }
.ui-icon-iconintegraldefault:before { content: "\e618"; }
.ui-icon-iconiphonedefault:before { content: "\e619"; }
.ui-icon-iconmoredefault:before { content: "\e61a"; }
.ui-icon-iconmore01default:before { content: "\e61b"; }
.ui-icon-iconmyaboutdefault:before { content: "\e61c"; }
.ui-icon-iconmycommentdefault:before { content: "\e61d"; }
.ui-icon-iconmycoupondefault:before { content: "\e61e"; }
.ui-icon-iconmyfollowdefault:before { content: "\e61f"; }
.ui-icon-iconmygiftdefault:before { content: "\e620"; }
.ui-icon-iconmymoredefault:before { content: "\e621"; }
.ui-icon-iconmyorderdefault:before { content: "\e622"; }
.ui-icon-iconmypostdefault:before { content: "\e623"; }
.ui-icon-iconreminddefault:before { content: "\e624"; }
.ui-icon-iconreturndefault:before { content: "\e625"; }
.ui-icon-iconsharedefault:before { content: "\e626"; }
.ui-icon-iconsigndefault1:before { content: "\e627"; }
.ui-icon-iconsubscribedefault:before { content: "\e628"; }
.ui-icon-iconaddtodefault:before { content: "\e62a"; }
.ui-icon-iconbalancedefault:before { content: "\e62b"; }
.ui-icon-iconpicturedefault:before { content: "\e62c"; }
.ui-icon-iconphotographdefault:before { content: "\e62d"; }
.ui-icon-iconwechatdefault:before { content: "\e62e"; }
.ui-icon-iconqqdefault:before { content: "\e62f"; }
.ui-icon-iconqqzonedefault:before { content: "\e630"; }
.ui-icon-iconfriendscircledefault:before { content: "\e631"; }
.ui-icon-iconnews01default:before { content: "\e632"; }
.ui-icon-iconclose01default:before { content: "\e633"; }
.ui-icon-iconexpert01default:before { content: "\e634"; }
.ui-icon-iconexpertdefault:before { content: "\e635"; }
.ui-icon-iconganjuquan:before { content: "\e636"; }
.ui-icon-iconpingguoquan:before { content: "\e637"; }
.ui-icon-iconmangguoquan:before { content: "\e638"; }
.ui-icon-iconputaoquan:before { content: "\e639"; }
.ui-icon-iconguacaiquan:before { content: "\e63a"; }
.ui-icon-icondamaiquan:before { content: "\e63b"; }
.ui-icon-iconxiangjiaoquan:before { content: "\e63c"; }
.ui-icon-iconqitazuowuquan:before { content: "\e63d"; }
.ui-icon-iconrushdefault:before { content: "\e63e"; }
.ui-icon-labelorder:before { content: "\e640"; }
.ui-icon-imglinktimeout:before { content: "\e642"; }
.ui-icon-blankpagenocontent:before { content: "\e641"; }

//
